<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav mr-auto" *ngIf="identity">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" [routerLinkActive]="['active']"> <i class="fa fa-home"></i> Inicio</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-list"></i> Timeline</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-user"></i> Conectar</a>
      </li>

    </ul>

    <ul class="navbar-nav mr-auto" *ngIf="!identity">
      
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/signIn']" [routerLinkActive]="['active']"> <i class="fa fa-sign-in"></i> Identificarse </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/signUp']" [routerLinkActive]="['active']"> <i class="fa fa-user-plus"></i> Registrarse </a>
      </li>
    </ul>

  </div>
</nav>


<router-outlet></router-outlet>