<div class="col-lg-10">
    <h3>
        {{title}}
    </h3>

    <div *ngFor="let message of messages" class="itemmessage">

        <div class="card mb-3" style="max-width: 740px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <a [routerLink]="['/profile/', message.emitter._id]">
                        <img src="{{ url + 'getImageUser/' + message.emitter.image }}" class="card-img" *ngIf="message.emitter.image">
                        <img src="assets/img/userPlaceHolder.jpeg" class="card-img" *ngIf="!message.emitter.image">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a [routerLink]="['/profile/', message.emitter._id]"
                            class="card-title font-weight-bold text-dark text-decoration-none">
                           De: {{ message.emitter.name + ' ' + message.emitter.surname }} ({{ message.emitter.nick }})
                        </a>
                        <br>
                        <a [routerLink]="['/profile/', message.receiver._id]" class="font-weight-bold text-dark text-decoration-none text-muted">
                            <small>
                                Para: {{ identity.name + ' ' + identity.surname }} ({{ identity.nick }})
                            </small>
                        </a>
                        <hr>
                        
                        <p class="card-text">
                            {{ message.text }}
                        </p>
                        
                        <p class="card-text"><small class="text-muted">{{ message.createdAt | dateAgo }}</small></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" *ngIf="page > 1">
                <a class="page-link" [routerLink]="['/messages/received', prevPage]">Anterior</a>
            </li>

            <li class="page-item" *ngIf="pages != page && pages > 1">
                <a class="page-link" [routerLink]="['/messages/received', nextPage]">Siguiente.</a>
            </li>
        </ul>
    </nav>


</div>