
<div class="row">
    <div class="col-lg-8 offset-2">
        <div class="jumbotron">
            <h1>{{ title }}</h1>
            <p>
                Disfruta de compartir tu vida con muchas personas.
            </p>
            <a href="#" class="btn btn-primary btn-lg" role="button"> Mirar los ultimos posts.</a>
            <a [routerLink]="['/users']" class="btn btn-primary btn-lg mx-2" role="button"> Nuevas personas.</a>
            <a href="#" class="btn btn-primary btn-lg" role="button"> Mi perfil!</a>
        </div>
    </div>
    
</div>